insightface==0.7.3
dlib==19.24.2
fairscale==0.4.13
pytorch-lightning==2.5.2
voluptuous==0.15.2
gguf==0.17.1
nunchaku==0.15.4
imagesize==1.4.1
argostranslate==1.9.6
litelama==0.1.7
evalidate==2.0.5
bizyengine==1.2.33
sortedcontainers==2.4.0
pyhocon==0.3.59
fal-client==0.6.0