# 问题包列表
# 这些包需要特殊安装策略

argostranslate
bizyengine
dlib==19.24.2
evalidate
fairscale==0.4.13
fal-client
gguf
imagesize
insightface==0.7.3
litelama
nunchaku
pyhocon
pytorch-lightning==2.5.2
sortedcontainers
voluptuous
